*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;

  font-family: var(--font-body);
}

html {
  color-scheme: dark-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 700;
}

input:focus,
input:focus-visible {
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--dire);
}
