.page-header {
  padding: var(--space-16);
}

.page-header > .inner {
  position: relative;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-8) var(--space-12);
  background: linear-gradient(150deg, var(--radiant) 0%, var(--dire) 110%);
  border-radius: 16px;
  margin: 0 auto;
  box-shadow: var(--header-box-shadow);
  transition: background var(--transition-appendix);
}

.page-header > .inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(150deg, var(--dire) 0%, var(--radiant) 110%);
  border-radius: 16px;
  opacity: 0;
  transition: opacity var(--transition-appendix);
  pointer-events: none;
}

.dark-mode .page-header > .inner::before {
  opacity: 1;
}

.dark-mode .page-header > .inner * {
  position: relative;
  z-index: 1;
}

.page-title {
  font-size: 1.75rem;
  letter-spacing: 0.1em;
  color: var(--black);
  text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.3);
  text-align: center;
}

.page-header .logo {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
}

@media (min-width: 25em) {
  .page-header > .inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: var(--space-8) 0 var(--space-8) var(--space-12);
  }
}

@media (min-width: 40em) {
  .page-header {
    padding: var(--space-16) var(--space-32);
  }

  .page-header > .inner {
    gap: var(--space-16);
    padding: var(--space-8) 0 var(--space-8) var(--space-16);
  }

  .page-title {
    font-size: 2rem;
  }
}

@media (min-width: 64em) {
  .page-header {
    padding: var(--space-32);
  }

  .page-header > .inner {
    padding: var(--space-4) var(--space-8) var(--space-4) var(--space-12);
  }

  .page-title {
    font-size: 3rem;
  }

  .page-header .logo {
    width: 100px;
    height: 100px;
  }
}
