.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-16);
  padding: var(--space-20);
  border-radius: 8px;
  border: 1px solid var(--uni);
  transition: box-shadow var(--transition-appendix);
}

.hero-card.str {
  border: 1px solid var(--str);
}

.hero-card.agi {
  border: 1px solid var(--agi);
}

.hero-card.int {
  border: 1px solid var(--int);
}

.hero-name {
  font-family: var(--font-body);
  font-size: 1rem;
  text-align: center;
}

@media (hover: hover) {
  .hero-card:hover {
    box-shadow: var(--uni-shadow);
  }

  .hero-card.str:hover {
    box-shadow: var(--str-shadow);
  }

  .hero-card.agi:hover {
    box-shadow: var(--agi-shadow);
  }

  .hero-card.int:hover {
    box-shadow: var(--int-shadow);
  }
}
