.hero-list-layout {
  padding: var(--space-16);
}

.hero-list-layout-grid {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  grid-auto-rows: 1fr;
  padding: 0 var(--space-20);
  gap: var(--space-16);
  margin: 0 auto;
}

@media (min-width: 64em) {
  .hero-list-layout {
    padding: var(--space-32);
  }

  .hero-list-form {
    padding: 0 var(--space-20);
  }
}
